*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
}
#card-area{
    background-color: blue;
    padding: 50px 0 50px o;

}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.box{
    background-color: brown;
    border: 5px solid;border-radius: 30px;
    padding: 30px;
    border-radius: 10px;

}
.box-img{
    width: 350px;
    height: 400px;
}
